# dependencies
node_modules/
.pnpm-store/

# build outputs
dist/
.next/
.turbo/

# env
.env
.env.local
.env.*.local

# prisma
packages/database/src/generated
!packages/database/prisma/migrations

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# os
.DS_Store

# ide
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
